@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #efefef;
  color: rgba(0, 0, 93, 0.721);
  font-family: 'Poppins';
}

:root {
  --toastify-font-family: 'Poppins' !important;
}